<!doctype html>
<html>
	<head>
	</head>
	<body>
		<h1>{{product.description}}</h1>
		<p>
		{% for a_sku in sku_list %}	
		for a {{product.description }} of {{a_sku.attributes}} there is {{ a_sku.inventory.quantity }} left <br>
		{% endfor %}
		</p>
		<form action="{% url 'purchase' product.id %}" method='POST'>{% csrf_token %}
			{% for a_key in product|get_attribute_dict_keys %}
			<select name ={{ a_key }}>
				{% for an_element in product|get_attribute_list_by_key:a_key %}
				<option value="{{ an_element }}">{{ an_element }}</option>
				{% endfor %}
			</select>
			{% endfor %}
			<input type="number" name="quantity" min=1 value=1 >
			<input type="submit" value="purchase">
		</form>
	</body>
</html>
