<!doctype html>

<html lang="en">
	<head>	
		<meta charset="utf-8">
		<title> pay_page </title>
	</head>
	<body>
		<h1> pay: </h1>
		{% for purchase in purchase_list %}
			<p>you ordered a {{purchase.product}}. Price : {{purchase.product.price}}</p>
		{% endfor %}
		<form action="{% url 'payment' modelOrder.id %}" method="POST">{% csrf_token %}
			<script
    				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    				data-key= {{ publishable_key }}
    				data-amount={{order.amount}}
    				data-name="Thomas_make_you_pay.com"
				data-description ={{ description }}
    				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    				data-locale="auto"
    				data-zip-code="true">
			</script>
		</form>
	</body>
</html>
